<!-- 404.html -->
<!-- @radiasl for ExarNorth -->

{% extends extended_template %}

{% block head %}
  <title>404: page not found!</title>
{% endblock %}

{% block content %}
  <div class="container">
    <h2>&nbsp;</h2>

    <!------------- Main section --------------->
    <!------------------------------------------>
    <div class="jumbotron">
      <center><h2>404 ERROR</h2>
      <p class="lead">Sorry, the page you're looking for doesn't exist.</p></center>
      <h2>&nbsp;</h2>
      <h2>&nbsp;</h2>
    </div>

    <!----------- Footer ----------------------->
    <!------------------------------------------>
    <footer>
    </footer>

  </div>

{% endblock %}
