<!-- dashboard.html -->
<!-- @radiasl for ExarNorth -->

{% extends "base_member.html" %}
{% load static %}
{% block head %}
  <title>Dashboard</title>
{% endblock %}

{% block content %}

<div class="container">
  <h2>&nbsp;</h2>
  <!----------- Search container ------------->
  <!------------------------------------------>
  <div class="jumbotron">
    <h2>&nbsp;</h2>
    <center><h2>Members homepage</h2>
    <p class="lead">This page can only be seen by logged in members. Cool!</p></center>
    <h2>&nbsp;</h2>
    <h2>&nbsp;</h2>
  </div>

  <!----------- Footer ----------------------->
  <!------------------------------------------>
  <footer>
  </footer>

</div>
{% endblock %}
