{% extends extended_template %}
{% load static %}

{% block head %}
  <title>{{ object_list.1.0 }} Hedge Funds</title>
  <script src="../../static/bootstrap/js/typeahead.bundle.min.js"></script>
  <script src="../../static/bootstrap/js/handlebars.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <h2>&nbsp;</h2>

    <!------------- Main section --------------->
    <!------------------------------------------>
    <div class="jumbotron">
      <center><h2>Largest 10 Hedge Funds and Their Largest Holdings</h2>
      <p class="lead">"This is what we are all about.. blabla"</p></center>
      <h2>&nbsp;</h2>
      <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
      <p><small>This line of text is meant to be treated as fine print.</small></p>
      <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
      <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
      <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>

      <h2>&nbsp;</h2>
      <h2>&nbsp;</h2>
    </div>

    <!----------- Footer ----------------------->
    <!------------------------------------------>
    <footer>
    </footer>

  </div>

{% endblock %}